<!DOCTYPE html>
<html>
<head>
<title>Welcome</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="static/layout/styles/layout.css" rel="stylesheet" type="text/css" media="all">
</head>
<body id="top">
<div class="wrapper row0">
  <div id="topbar" class="clear"> 
    <div class="fl_left">
      <ul class="nospace linklist">
        <li><a href="#">Link 1</a></li>
        <li><a href="#">Link 2</a></li>
        <li><a href="#">Link 3</a></li>
        <li><a href="#">Link 4</a></li>
        <li><a href="#">Link 5</a></li>
      </ul>
    </div>
    <div class="fl_right">
      <ul class="nospace linklist">
        <li><i class="fa fa-envelope-o"></i> infovis2018</li>
      </ul>
    </div>
  </div>
</div>
<div class="wrapper row1">
  <header id="header" class="clear"> 
    <div id="logo" class="fl_left">
      <h1><a href="index.html">Infovis2018</a></h1>
    </div>
    <nav id="mainav" class="fl_right">
      <ul class="clear">
        <li class="active"><a href="index.html">Home</a></li>
        <li><a class="drop" href="#">Project 1</a>
          <ul>
            <li><a href="/project1q1">Question 1</a></li>
            <li><a href="/project1q2">Question 2</a></li>
            <li><a href="/project1q3">Question 3 - Search</a></li>
            <li><a href="/project1q3/result">Question 3 - Result</a></li>
            
          </ul>
        </li>
        <li><a class="drop" href="#">Project 2</a>
          <ul>
            <li><a href="#">Level 2</a></li>
            <li><a class="drop" href="#">Level 2 + Drop</a>
              <ul>
                <li><a href="#">Level 3</a></li>
                <li><a href="#">Level 3</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li><a href="#">Project 2</a></li>
      </ul>
    </nav>
  </header>
</div>
<div class="wrapper row2 bgded" style="background-image:url('images/demo/backgrounds/1.png');">
  <div class="overlay">
    <div id="intro" class="clear"> 
      <article class="one_third first">
        <h3 class="heading">Project 1 Highlights</h3>
        <ul class="nospace">
          <li>1. beautiful</li>
          <li>2. ...</li>
          <li>3. ...</li>
          <li>4. ...</li>
          <li>5. ...</li>
        </ul>
        <p class="link"><a href="#">Read More &raquo;</a></p>
      </article>
      <article class="one_third">
        <h3 class="heading">Project 2 Highlights</h3>
        <ul class="nospace">
          <li>1. beautiful</li>
          <li>2. ...</li>
          <li>3. ...</li>
          <li>4. ...</li>
          <li>5. ...</li>
        </ul>
        <p class="link"><a href="#">Read More &raquo;</a></p>
      </article>
      <article class="one_third">
        <h3 class="heading">Project 3 Highlights</h3>
        <ul class="nospace">
          <li>1. beautiful</li>
          <li>2. ...</li>
          <li>3. ...</li>
          <li>4. ...</li>
          <li>5. ...</li>
        </ul>
        <p class="link"><a href="#">Read More &raquo;</a></p>
      </article>
    </div>
  </div>
</div>
<div class="wrapper row4">
  <section id="cta" class="clear"> 
    <div class="center btmspace-50">
      <h2 class="nospace">Team Members:</h2>
      <p class="nospace">1. 2. 3.</p>
    </div>
    <div class="group">
      <div class="colour-1 one_half first">
        <article class="group colour-1"> 
          <div class="one_half first"><img src="images/demo/320x220.gif" alt=""></div>
          <div class="one_half">
            <h6 class="heading">Quisque vehicula urna sit amet pulvinar dapibus</h6>
            <p class="link"><a class="btn" href="#">Read More &raquo;</a></p>
          </div>
        </article>
      </div>
      <div class="colour-2 one_half">
        <article class="group colour-2"> 
          <div class="one_half first"><img src="images/demo/320x220.gif" alt=""></div>
          <div class="one_half">
            <h6 class="heading">Integer varius enim id augue faucibus mattis.</h6>
            <p class="link"><a class="btn" href="#">Read More &raquo;</a></p>
          </div>
        </article>
      </div>
    </div>
    <div class="clear"></div>
  </section>
</div>
<div class="wrapper row5">
  <footer id="footer" class="clear"> 
    <div class="one_half first">
      <h6 class="title">Lorem ipsum dolor</h6>
      <p class="nospace btmspace-30">Donec sed ultrices eros. Nulla facilisi. Aliquam purus urna, porta non faucibus nec, luctus vitae ante. Suspendisse potenti. Morbi sollicitudin viverra urna, vel auctor purus volutpat vel.</p>
      <ul class="nospace">
        <li class="btmspace-10">
          <address>
          <span class="fa fa-map-marker"></span> Street Name &amp; Number, Town, Postcode/Zip
          </address>
        </li>
        <li class="btmspace-10"><span class="fa fa-phone"></span> +00 (123) 456 7890</li>
        <li><span class="fa fa-envelope-o"></span> info@domain.com</li>
      </ul>
    </div>
    <div class="one_quarter">
      <h6 class="title">Quick Links</h6>
      <ul class="nospace linklist">
        <li><a href="#">Home Page</a></li>
        <li><a href="#">Project 1</a></li>
        <li><a href="#">Project 2</a></li>
        <li><a href="#">Project 1</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
    </div>
    <div class="one_quarter">
      <h6 class="title">Keep in Touch</h6>
      <form class="btmspace-50" method="post" action="#">
        <fieldset>
          <legend>Newsletter:</legend>
          <input class="btmspace-15" type="text" value="" placeholder="Email">
          <button type="submit" value="submit">Submit</button>
        </fieldset>
      </form>
      <ul class="faico clear">
        <li><a class="faicon-facebook" href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a class="faicon-pinterest" href="#"><i class="fa fa-pinterest"></i></a></li>
        <li><a class="faicon-twitter" href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a class="faicon-dribble" href="#"><i class="fa fa-dribbble"></i></a></li>
        <li><a class="faicon-linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
        <li><a class="faicon-google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
        <li><a class="faicon-rss" href="#"><i class="fa fa-rss"></i></a></li>
      </ul>
    </div>
  </footer>
</div>
<div class="wrapper row6">
  <div id="copyright" class="clear"> 
    <p class="fl_left">Copyright &copy; 2018.Company name All rights reserved.</p>
    <p class="fl_right"></p>
  </div>
</div>
<!-- JAVASCRIPTS -->
<script src="layout/scripts/jquery.min.js"></script> 
<script src="layout/scripts/jquery.mobilemenu.js"></script>
</body>
</html>